
#_____x a{
    text-decoration:none !important;
    color:white !important;
  }
  #_____x{
    position:absolute !important;
    left:10px !important;
    z-index:1000 !important;
  }
  #____divclose{
    position:relative !important;
    
  }
  #______A_1 {
      box-shadow: rgb(255, 205, 118) 0px 0px 5px 0px inset !important;
      box-sizing: border-box !important;
      color: rgb(255, 178, 42) !important;
      display: block !important;
  
      text-align: center !important;
      text-decoration: none solid rgb(255, 178, 42) !important;
      text-size-adjust: 100% !important;
      text-transform: uppercase !important;
      width: 245px !important;
      column-rule-color: rgb(255, 178, 42) !important;
      perspective-origin: 122.5px 22.5px !important;
      transform-origin: 122.5px 22.5px !important;
      caret-color: rgb(255, 178, 42) !important;
      background: rgb(38, 67, 105) none repeat scroll 0% 0% / auto padding-box border-box !important;
      border-top: 0px none rgb(255, 178, 42) !important;
      border-right: 0px none rgb(255, 178, 42) !important;
      border-bottom: 5px solid rgb(255, 178, 42) !important;
      border-left: 0px none rgb(255, 178, 42) !important;
      font: normal normal bold normal 15px / 32px Ubuntu, "Open Sans", Roboto, sans-serif !important;
      outline: rgb(255, 178, 42) none 0px !important;
      padding: 5px 7px !important;
      transition: all 0.3s ease-in-out 0s !important;
      margin-top:30px !important;
  }/*#______A_1*/
  
  #______DIV_36 {
      box-sizing: border-box !important;
      color: rgb(51, 51, 51) !important;
   
      text-decoration: none solid rgb(51, 51, 51) !important;
      text-size-adjust: 100% !important;
      width: 271px !important;
      column-rule-color: rgb(51, 51, 51) !important;
      perspective-origin: 135.5px 101px !important;
      transform-origin: 135.5px 101px !important;
      caret-color: rgb(51, 51, 51) !important;
      border: 0px none rgb(51, 51, 51) !important;
      font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
      outline: rgb(51, 51, 51) none 0px !important;
  }/*#______DIV_36*/

  #______DIV_37 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
  
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: 271px !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 135.5px 101px !important;
    transform-origin: 135.5px 101px !important;
    caret-color: rgb(255, 255, 255) !important;
    background: rgb(70, 93, 123) none repeat scroll 0% 0% / auto padding-box border-box !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______DIV_37*/

#______DIV_38 {
    position: relative !important;
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
   
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: 271px !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 135.5px 24.5px !important;
    transform-origin: 135.5px 24.5px !important;
    caret-color: rgb(255, 255, 255) !important;
    background: rgb(70, 93, 123) none repeat scroll 0% 0% / auto padding-box border-box !important;
    border-top: 5px solid rgb(255, 178, 42) !important;
    border-right: 0px none rgb(255, 255, 255) !important;
    border-bottom: 0px none rgb(255, 255, 255) !important;
    border-left: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    outline: rgb(255, 255, 255) none 0px !important;
    padding: 11px !important;
}/*#______DIV_38*/

#______H3_39 {
    background-position: 25% 50% !important;
    bottom: 0px !important;
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
   
    left: 0px !important;
    position: relative !important;
    right: 0px !important;
    text-align: center !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    top: 0px !important;
    width: 249px !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 124.5px 12px !important;
    transform-origin: 124.5px 12px !important;
    caret-color: rgb(255, 255, 255) !important;
    background: rgba(0, 0, 0, 0) url("chrome-extension://__MSG_@@extension_id__/imgs/icon32.png") no-repeat scroll 25% 50% / 28px 28px padding-box border-box !important;
    background: rgba(0, 0, 0, 0) url("moz-extension://__MSG_@@extension_id__/imgs/icon32.png") no-repeat scroll 25% 50% / 28px 28px padding-box border-box !important;
    background: rgba(0, 0, 0, 0) url("ms-browser-extension://__MSG_@@extension_id__/imgs/icon32.png") no-repeat scroll 25% 50% / 28px 28px padding-box border-box !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal 500 normal 22px / 24.2px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    margin: -2px 0px 0px !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______H3_39*/

#______A_40 {
    bottom: 163px !important;
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
    display: block !important;
    
    left: 15px !important;
    position: absolute !important;
    right: 240.281px !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    top: 15px !important;
    width: 15.7188px !important;
    z-index: 9 !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 7.85938px 12px !important;
    transform-origin: 7.85938px 12px !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______A_40*/

#______I_41 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
    display: inline-block !important;

    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: 15.7188px !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 7.85938px 11px !important;
    transform-origin: 7.85938px 11px !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 22px / 22px FontAwesome !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______I_41*/

#______I_41:before {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
    content: '""' !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    column-rule-color: rgb(255, 255, 255) !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 22px / 22px FontAwesome !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______I_41:before*/

#______DIV_42 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
    display: none !important;
 
    min-height: 20px !important;
    position: relative !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: auto !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 50% 50% !important;
    transform-origin: 50% 50% !important;
    caret-color: rgb(255, 255, 255) !important;
    background: rgb(121, 147, 182) none repeat scroll 0% 0% / auto padding-box border-box !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 27px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    outline: rgb(255, 255, 255) none 0px !important;
    padding: 3px 13px !important;
    transition: all 0.3s ease-in-out 0s !important;
}/*#______DIV_42*/

#______LABEL_43 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
    display: inline-block !important;
    max-width: 100% !important;
    position: relative !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    text-transform: capitalize !important;
    width: 100% !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 50% 50% !important;
    transform-origin: 50% 50% !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal 500 normal 17px / 35px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______LABEL_43*/

#______I_44 {
    box-sizing: border-box !important;
    color: rgb(213, 61, 73) !important;
    cursor: pointer !important;
    display: block !important;
    float: right !important;
    position: relative !important;
    text-decoration: none solid rgb(213, 61, 73) !important;
    text-size-adjust: 100% !important;
    text-transform: capitalize !important;
    z-index: 99 !important;
    column-rule-color: rgb(213, 61, 73) !important;
    perspective-origin: 50% 50% !important;
    transform-origin: 50% 50% !important;
    caret-color: rgb(213, 61, 73) !important;
    border: 0px none rgb(213, 61, 73) !important;
    font: normal normal normal normal 40px / 40px FontAwesome !important;
    outline: rgb(213, 61, 73) none 0px !important;
}/*#______I_44*/

#______I_44:before {
    box-sizing: border-box !important;
    color: rgb(213, 61, 73) !important;
    content: '""' !important;
    cursor: pointer !important;
    text-decoration: none solid rgb(213, 61, 73) !important;
    text-size-adjust: 100% !important;
    text-transform: capitalize !important;
    column-rule-color: rgb(213, 61, 73) !important;
    perspective-origin: 50% 50% !important;
    transform-origin: 50% 50% !important;
    caret-color: rgb(213, 61, 73) !important;
    border: 0px none rgb(213, 61, 73) !important;
    font: normal normal normal normal 40px / 40px FontAwesome !important;
    outline: rgb(213, 61, 73) none 0px !important;
}/*#______I_44:before*/

#______SPAN_45 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
    cursor: default !important;
    display: block !important;

    position: absolute !important;
    right: 1px !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    text-transform: capitalize !important;
    top: 7px !important;
    width: 44px !important;
    z-index: 1 !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 50% 50% !important;
    transform-origin: 50% 50% !important;
    caret-color: rgb(255, 255, 255) !important;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box !important;
    border: 0px none rgb(255, 255, 255) !important;
    border-radius: 17px 17px 17px 17px !important;
    font: normal normal 500 normal 17px / 35px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______SPAN_45*/

#______DIV_46 {
    bottom: 0px !important;
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;

    left: 0px !important;
    min-height: 20px !important;
    position: relative !important;
    right: 0px !important;
    text-align: center !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    top: 0px !important;
    width: 271px !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 135.5px 76.5px !important;
    transform-origin: 135.5px 76.5px !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    outline: rgb(255, 255, 255) none 0px !important;
    padding: 10px 13px !important;
    transition: all 0.3s ease-in-out 0s !important;
}/*#______DIV_46*/

#______DIV_47 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
  
    text-align: center !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: 245px !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 122.5px 54px !important;
    transform-origin: 122.5px 54px !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______DIV_47*/

#______H2_48 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;

    text-align: center !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: 245px !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 122.5px 16.5px !important;
    transform-origin: 122.5px 16.5px !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal 500 normal 30px / 33px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    margin: 20px 0px 10px !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______H2_48*/

#______P_49 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
 
    text-align: center !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: 245px !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 122.5px 20px !important;
    transform-origin: 122.5px 20px !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    margin: 5px 0px !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______P_49*/

#______P_50 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
   
    text-align: center !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: 245px !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 122.5px 10px !important;
    transform-origin: 122.5px 10px !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    margin: 5px 0px !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______P_50*/

#______DIV_51 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
    display: none !important;
    height: auto !important;
    text-align: center !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: auto !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 50% 50% !important;
    transform-origin: 50% 50% !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______DIV_51*/

#______H2_52 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
    height: auto !important;
    text-align: center !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: auto !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 50% 50% !important;
    transform-origin: 50% 50% !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal 500 normal 30px / 33px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    margin: 20px 0px 10px !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______H2_52*/

#______P_53 {
    box-sizing: border-box !important;
    color: rgb(255, 255, 255) !important;
    height: auto !important;
    text-align: center !important;
    text-decoration: none solid rgb(255, 255, 255) !important;
    text-size-adjust: 100% !important;
    width: auto !important;
    column-rule-color: rgb(255, 255, 255) !important;
    perspective-origin: 50% 50% !important;
    transform-origin: 50% 50% !important;
    caret-color: rgb(255, 255, 255) !important;
    border: 0px none rgb(255, 255, 255) !important;
    font: normal normal normal normal 14px / 20px Ubuntu, "Open Sans", Roboto, sans-serif !important;
    margin: 5px 0px !important;
    outline: rgb(255, 255, 255) none 0px !important;
}/*#______P_53*/